#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml
.mvn/
mvnw
mvnw.cmd

# IntelliJ
.idea
*.ipr
*.iml
*.iws
/out/

# Operating system
.DS_Store
Thumbs.db

# patch
*.orig
*.rej

# cache files
*.class

# Local environment
.env
src/main/resources/keys/privateKey.pem
src/main/resources/keys/publicKey.pem


# Plugin directory
/.quarkus/cli/plugins/
# TLS Certificates
.certs/
